@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Quicksand:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
  font-family: 'Quicksand', sans-serif;
  color: #666;
}

h1, h2 {
  font-family: 'Boogaloo', cursive;
}

h2 {
	font-size: 24px;
}

p {
	line-height: 1.5;
}

img {
  max-width: 100%;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.logo {
  height: 80px;
  border-radius: 30px;
}

h1 {
	font-size: 36px;
  letter-spacing: 3px;
}

nav {
  position: sticky;
  top: 0px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  display: flex;
  justify-content: center;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #4CAF50;
}

main {
	margin: 20px auto;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

article {
  border: 1px solid #888;
  display: flex;
  gap: 1em;
}

section.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 3;
}

.info-life {
  font-family: monospace;
  color: #aaa;
}

figure {
  background-color: #4CAF50;
  padding: 1em;
  flex: 1;
}

figcaption {
  color: white;
  text-align: center;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}

a.btn-read {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
  border: 1px solid #4CAF50;
  align-self: flex-end;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 0.5s;
}

a.btn-read:hover {
  background-color: #4CAF50;
  color: white;
}

blockquote {
  border-left: 10px solid #63ed68;
  font-style: italic;
  width: 90%;
  margin: 1em auto;
  font-size: 0.9em;
  font-family: monospace;
}